* {
    box-sizing: border-box !important;
}

.body {
    background-image: linear-gradient(to bottom, #e91e6222, #e91e6200);
    background: url("../Images/noise.png");
    color: #222;
    overflow-x: hidden;
}

.body main {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    /* border: 4px solid; */
}



/*      navbar      */
.navbar {
    background-color: #e91e63;
    font-family: Montserrat, sans-serif;
}

.navbar .nav-link {
    color: #fff !important;
    transition: 0.3s ease-in-out;
}

.navbar .nav-link .borde {
    border: 1px solid #fff;
    width: 100%;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}




/*      menu sedes      */
.navbar .dropdown .btn {
    border: none;
    padding-top: 8px !important;
}

.navbar-collapse .dropdown .btn {
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse ul li {
    width: fit-content;
}

.navbar .dropdown .btn,
.navbar .dropdown-item {
    color: #fff !important;
}

.navbar .dropdown .dropdown-item:hover {
    background-color: #ec3270;
}

.navbar .dropdown .dropdown-menu {
    background-color: #e91e63;
    border: none;
}

@media (min-width: 768px) {
    .dropdown-menu .nav-item {
        width: fit-content;
    }
}

@media (min-width: 992px) {
    .navbar-collapse .dropdown .btn {
        padding-left: 0.75rem;
        /* valor por defecto de Bootstrap */
        padding-right: 0.75rem;
    }

    .dropdown-menu .nav-item {
        width: 100%;
    }
}


/*      texto de bienvenida      */
.bienvenida {
    display: flex;
    flex-direction: column;
    font-family: Bitter, serif;
    width: 100%;
    margin: 12rem 0;
}

.bienvenida p {
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}


/*      video banner      */
.video-banner {
    position: relative;
    width: 100%;
    height: 480px;
    background-image: url(../Images/logo.jpg);
    background-attachment: fixed;
    background-position: 50% 0%;
    box-shadow: 0 1px 12px black;
    z-index: 1;
    overflow-y: hidden;
}

.video-banner h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-family: Comfortaa, serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 12px #fff;
    animation: animTitulo 14s ease forwards;
    animation-delay: 1s;
    opacity: 0;
    z-index: 1111;
}

.video-banner .portada {
    position: absolute;
    width: 100%;
    max-width: 512px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, .5));
    animation: animPortada 10s ease 4s forwards;
    opacity: 0;
    z-index: 111;
}

.video-banner .sombreado {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    z-index: 11;
}

.video-banner video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 78px 26px rgb(216, 152, 190);
    z-index: 11;
}

@keyframes animTitulo {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }

    40% {
        opacity: 0;
    }
}

@keyframes animPortada {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }

    80% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .video-banner video {
        max-width: 1040px;
    }
}

@media (max-width: 992px) {
    .video-banner video {
        max-width: 100%;
    }
}

@media (max-width: 512px) {
    .video-banner .portada {
        max-width: 512px;
    }
}




/*      Inicio: card (foto-texto)      */

#inicio {
    min-width: 100%;
}

.card1,
.card2,
.card3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}

.card1 {
    /* margin-top: 8rem; */
}

.card2,
.card3 {
    margin: 4rem 0;
}

.card2 {
    flex-direction: row-reverse;
}

.card1 .foto,
.card3 .foto {
    width: 100%;
    max-width: 540px;
    padding: 1px;
    padding-left: 8px;
    background-image: linear-gradient(to right, #e91e63, #e7e7e700);
}

.card2 .foto {
    width: 100%;
    max-width: 540px;
    padding: 1px;
    padding-right: 8px;
    background-image: linear-gradient(to left, #e91e63, #e7e7e700);
}

.card1,
.card2,
.card3 {
    font-family: Bitter;
}

.card1 p,
.card3 p {
    padding-left: 2rem;
    text-align: start;
}

.card2 p {
    padding-right: 2rem;
    text-align: end;
    width: 50%;
}

.card1 p,
.card2 p,
.card3 p {
    font-size: 28px;
}

.card1,
.card3,
.card1 .foto,
.card3 .foto {
    border-radius: 0 8px 8px 0;
}

.card2,
.card2 .foto {
    border-radius: 8px 0 0 8px;
}

@media (max-width: 320px) {
    .card2 p {
        padding: 0 !important;
    }
}

@media (max-width: 768px) {

    .card1,
    .card2,
    .card3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card1 .foto,
    .card2 .foto,
    .card3 .foto {
        margin-bottom: 1rem;
    }

    .card1 p,
    .card3 p {
        text-align: center;
        padding: 0;
    }

    .card2 p {
        text-align: center;
        padding-right: 4rem;
        padding-left: 4rem;
        width: 100%;
    }
}

@media (max-width: 992px) {

    .card1 p,
    .card2 p,
    .card3 p {
        font-size: 125%;
    }
}

[data-aos="anim-fade-down"] {
    opacity: 0;
    transform: translateY(-8px);
    transition-property: transform, opacity;

    &.aos-animate {
        opacity: 1;
        transform: translateY(0);
    }
}

[data-aos="anim-fade-left"] {
    opacity: 0;
    transform: translateX(-16px);
    transition-property: transform, opacity;

    &.aos-animate {
        opacity: 1;
        transform: translateX(0);
    }
}

[data-aos="anim-fade-right"] {
    opacity: 0;
    transform: translateX(16px);
    transition-property: transform, opacity;

    &.aos-animate {
        opacity: 1;
        transform: translateX(0);
    }
}




/* Talleres y Cursos: card */

#talleresYCursos {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    border: 1px solid black;
}

#talleresYCursos .card-curso > * {
    /* border: 1px solid #0004ff; */
}

#talleresYCursos .card-curso {
    display: flex;
    width: 80%;
    height: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0 8px 8px 0;

    /* border: 1px solid #000; */
}

#talleresYCursos .card-curso .img-cont {
    height: 100%;
    flex: 1;
}
#talleresYCursos .card-curso .img-cont .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1px 0 1px 8px;
    border-radius: 0 8px 8px 0;
    background-image: linear-gradient(to right, #e91e63, #e7e7e700);
}

#talleresYCursos .card-curso .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    flex: 1.2;
    overflow-y: auto;

    /* border: 1px solid red; */
}

#talleresYCursos .card-curso .card-body > * {

    /* border: 1px solid red; */
}

#talleresYCursos .card-body .card-body-description {
    box-sizing: border-box;
    margin: 0 4% 2%;
}

#talleresYCursos .card-body .card-body-description ul li {
    list-style: none;
}

#talleresYCursos .card-body h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#talleresYCursos .card-body hr {
    text-align: center;
    border: 0px !important;
    border-bottom: 1px solid #000000 !important;
    width: 60% !important;
    margin: 8px 0;
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    #talleresYCursos .card-body .card-body-description {
        width: 90%;
    }
}

@media (max-width: 425px) {
    #talleresYCursos .card-curso {
        flex-direction: column;
        height: 800px;
        border-radius: 0 0 8px 8px;
    }
    #talleresYCursos .card-curso .img-cont .foto {
        padding: 8px 1px 0 1px;
        border-radius: 0 0 8px 8px;
        background-image: linear-gradient(to bottom, #e91e63, #e7e7e700);
    }
}



/* Contacto */
#contactame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 16px;
    padding: 0 16px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

#contactame h5 {
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
}

#contactame .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 8px;
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 16px 0;
    padding: 12px;
    border-radius: 12px;
    background-color: #ff006a1e;
}
.formulario * {
    border: none;
    border-radius: 6px;
    transition: all .2s ease;
}
.formulario *:focus-visible {
    outline: none;
    box-shadow: 0px 4px 6px #a86d868b;
}
.formulario input,
.formulario textarea {
    box-shadow: 0px 0px 3px #a86d86;
}
.formulario #button {
    border: 1px solid #ef9bbe;
    background-color: #ef9bbe;
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px 2px #00000092;
    box-shadow: 0px 0px 1px #a86d86;
}
.formulario #button:hover {
    text-shadow: 0px 1px 2px #000;
    box-shadow: 0px 1px 2px 1px #a86d86;
}